<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
        <h3>Edit listing</h3>
    <form method="post" action="/listings/<%= editList._id %>?_method=PUT">
        <input type="text" name="listing[title]" value="<%= editList.title %>">
        <br><br>
        <textarea name="listing[description]" id="" value="<%= editList.description %>"></textarea>
        <br><br>
        <input type="text" name="listing[image]" value="<%= editList.image %>">
        <br><br>
        <input type="number" name="listing[price]" value="<%= editList.price %>">
        <br><br>
        <input type="text" name="listing[location]" value="<%= editList.location %>">
        <br><br>
        <input type="text" name="listing[country]" value="<%= editList.country %>">
        <br><br>
        <button>Edit</button>
    </form>
</body>
</html>